<!DOCTYPE html>
<html>
<head>
<style>
{% block style %}
{% endblock %}
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>{% block title %}Stand-in{% endblock %}</title>

</head>

{% if error_message %}<p><strong>{{error_message}}</strong></p> {% endif %}

<body class="custom-body">

{% block header %}
<div id="header" style="height:200px;">
	<div class="row">
		<div align="center">
		<br>
			<h1 class="title">HCAL Upgrade</h1>
			<h2 class="title">HE Quality Assurance Testing</h2>
			<br>
		</div>
	</div>
	<div class="row" align="center">
		<div class="col-md-12">
		    {% block links %}
			<a href="catalog"><button>Catalog</button></a>
			<a href="summary"><button>Summary</button></a>
			<a href="testers"><button>Testers</button></a>
			<a href="setup"><button>Setup</button></a>
			<a href="stats"><button>Stats</button></a>
			{% endblock %}
		</div>
		<br>
	</div>
</div>
{% endblock %}
<br>
<br>
<br>

{% block content %}
<h1>Default Content</h1>
{% endblock %}

</body>
</html>
