<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Stand-in{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/qie_cards/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/qie_cards/dist/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="dist/img/favicon.ico">

    {% block head %}{% endblock %}
</head>

{% if error_message %}<p><strong>{{error_message}}</strong></p> {% endif %}

{% block body %}
<body>
{% endblock %}

    <style>
      body {
        min-height: 2000px;
        padding-top: 70px;
      }
    </style>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">HCAL Upgrade</a>
            </div>
            <div class="navbar-collapse collapse">
                {% block links %}
                <ul class="nav navbar-nav">
                    <li {% block catalog %}{% endblock %}><a href="catalog">Catalog</a></li>
                    <li {% block summary %}{% endblock %}><a href="summary">Summary</a></li>
                    <li {% block testers %}{% endblock %}><a href="testers">Testers</a></li>
                    <li {% block test-details %}{% endblock %}><a href="test-details">Test Details</a></li>
                    <li {% block stats %}{% endblock %}><a href="stats">Stats</a></li>
                    <li {% block plots %}{% endblock %}><a href="plots">Plots</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../admin">Admin</a></li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    
    <div class="row" align="center">
        <div class="col-md-3"><br><img src="/static/qie_cards/img/logos/FNAL-Logo-Black.png" style="width:60%;height:60%;"></div>
        <div class="col-md-6"><h1 class="title">HCAL Upgrade</h1><h3 class="title">HE Quality Control Testing</h3></div>
        <div class="col-md-3"><img src="/static/qie_cards/img/logos/CMS_logo_May2014.png" style="width:45%;height:45%;"></div>
    </div>
    <br><br>
    <div class="row" align="center" style="padding-left:50px;padding-right:50px">
        <div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
    </div>
    <br>

{% block content %}
<h1>Default Content</h1>
{% endblock %}

</body>
</html>
