{% extends "qie_cards/base.html" %}
{% block title %}HF QIE Card Test Database{% endblock %}

{% block style %}
ul {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3" align="center">
		<h2>All Cards:</h2>
		<strong><em>(Sorted by serial number)</em></strong>
	</div>
</div>
<br><br>	
{% if barcode_list %}
<div class="row">
	<div align="center"><ul>
	{% for card in barcode_list %}
		<li style="font-size:18px"><a href="{{card.barcode}}">{{card.barcode}}</a></li>
	{%endfor%}
	</ul></div>
</div>
{% else %}
<h1>This database contains no cards</h1>
{% endif %}
{% endblock %}
