{% extends "qie_cards/base.html" %}

{% block style %}
ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
{% endblock %}

{% block title %}Database Plots{% endblock %}
{% block plots %}class="active"{% endblock %}
{% block content %}

{% for image in images %}
<div class="row">
	<div align="center">	
		<h2 class="title">{{image}}</h2>
	</div>
</div>

<div class="row">
	<div class="center" style="width:60%">
		<a href="media/plots/{{image}}"><img src="media/plots/{{image}}" ></a>
	</div>
</div>
{% endfor %}
{% endblock %}
