{% extends "qie_cards/base.html" %}

{% block style %}
ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
{% endblock %}

{% block title %}Test Database{% endblock %}

{% block content %}

<!--
<div class="row">
	<div align="center">	
		<h2 class="title">Successful Cards</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-responsive table-striped" style="width:95%" align="center">
		<thead>			
			<tr>
				<th> Card Names </th>
				<th> # of Cards </th>
				<th> % Successful </th>
			</tr>
		</thead>
		<tbody>
			{% if tests %}
			<tr align="left">
				<td><ul style="font-size:10px">
				{% for card in tests.cards %}
				<li><a href="{{card}}/">{{card}}</a></li>
				{% endfor %}
				</ul></td>
				<td> {{tests.name}} </td>
				<td> {{tests.}}% </td>
			</tr>
			{% else %}
			<h1> No test database </h1>
			{% endif %}
		</tbody>
		</table>
	</div>
</div>

<br/><br/>
-->

<div class="row">
	<div align="center">	
		<h2 class="title">Failed Cards</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-responsive table-striped" style="width:95%" align="center">
		</thead>			
			<tr>
				<th> Test Failed </th>
				<th> Card Names </th>
				<th> # of Cards </th>
				<th> % of Total Cards </th>
			</tr>
		</thead>
		<tbody>
			{% if tests %}
			{% for test in tests %}
			<tr align="left">
				<td> {{test.name}} </td>
				<td><ul style="font-size:10px">
				{% for card in test.cards %}
				<li><a href="{{card}}/">{{card}}</a></li>
				{% endfor %}
				</ul>
				<td> {{test.number}} </td>
				<td> {{test.percentage}}% </td>
			</tr>
			{% endfor %}
			{% else %}
			<h1> No test database </h1>
			{% endif %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}
