{% extends "qie_cards/base.html" %}
{% load app_filters %}

{% block title %}{{card.barcode}}{% endblock %}

{% block head %}
<style>
    .warn{
      color:#2C3E50;
      background-color:#F1C40F;
    }
    .okay{
      color:#2ECC71;
    }
    .bad{
      color:#2C3E50;
      background-color:#E74C3C;
    }
    .comments{
      margin-left:50px;
      background:#27ae60;
      width: 400px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
    }
    .hide{
      display: none;
    }

</style>

{% endblock %}

{% block links %}
<ul class="nav navbar-nav">
    <li {% block catalog %}{% endblock %}><a href="https://nbay11.fnal.gov/cards/catalog">Catalog</a></li>
    <li {% block summary %}{% endblock %}><a href="https://nbay11.fnal.gov/cards/summary">Summary</a></li>
    <li {% block testers %}{% endblock %}><a href="https://nbay11.fnal.gov/cards/testers">Testers</a></li>
    <li {% block test-details %}{% endblock %}><a href="https://nbay11.fnal.gov/cards/test-details">Test Details</a></li>
    <li {% block stats %}{% endblock %}><a href="https://nbay11.fnal.gov/cards/stats">Stats</a></li>
    <li {% block plots %}{% endblock %}><a href="https://nbay11.fnal.gov/cards/plots">Plots</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://nbay11.fnal.gov/admin">Admin</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="row" align="left" style="padding-left:50px;">
    <h3>{{test}} Overview</h3>
    <div id="breakLine" style="height:2px;width:25%;background-color:#E74C3C"></div>
</div><br>

<div class="row" align="left">
    <div class="col-md-2" style="padding-left:50px;">
      <h4>Barcode:</h4>
      <h4>UID:</h4>
      <h4>Bridge Firmware:</h4>
      <h4>Igloo Firmware:</h4>
    </div>
    <div class="col-md-4">
      <h4>{{card.barcode}}</h4>
      <h4>{{card.get_uid_flipped}}</h4>
      <h4>{{card.get_bridge_ver}}</h4>
      <h4>{{card.get_igloo_ver}}</h4>
    </div>
  </div><br>
<div class="row">
    <div class="col-md-12">
        <h3>{{test}}</h3>
        {% for attempt, data in attempts %}
        <br>
        <h4 class="{{attempt.get_css_class}}" style="width:60%;">Attempt: {{attempt.attempt_number}} ({{attempt.get_status}})</h4>
        <div style="padding-left:50px;">
            <table id="testsummary" class="table table-bordered" cellspacing="0" style="width:60%;">
                <thead class="thead-default" style="color:#2C3E50;background-color:#ECF0F1">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Tests Passed</th>
                        <th>Tests Failed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{attempt.tester}} </td>
                        <td> {{attempt.date_tested}} </td>
                        <td> {{attempt.num_passed}} </td>
                        <td> {{attempt.num_failed}} </td>
                    </tr>
                    <tr>
                        <td><b>Comments:</b></td>
                        <td colspan="3"> {{attempt.comments | default:"None"}} </td>
                    </tr>
                    <tr>
                        <td><b>Image:</b></td> 
                        <td colspan="3">{% if attempt.has_image %}<a href="../media/{{attempt.image}}">{{attempt.image}}</a>
                                        {% else %} No image {% endif %}</td>
                    </tr>
                    <tr>
                        <td><b>Log Files:</b></td>
                        <td colspan="3">{% if attempt.has_log %}<a href="../media/{{attempt.log_file}}">{{attempt.log_file}}</a>
                                        {% else %} No file {% endif %}</td>
                    </tr>
                </tbody>
            </table>
            {% if attempt.has_image %}
            {% for image in attempt.get_images %}
            <a href="/cards/media/{{attempt.image}}/{{image}}"><img src="/cards/media/{{attempt.image}}/{{image}}" style="width:10%"></a>
            {% endfor %}
            {% endif %}
        <button class="btn btn-primary" onclick="document.getElementById('data_{{attempt.attempt_number}}').classList.toggle('hide')">Show Data</button>
        <p style="white-space: pre-wrap;" class="hide" id="data_{{attempt.attempt_number}}"> {{data}} </p>
        </div>
        <br/>
        {% endfor %}
    </div>
</div>
<br/>
{% endblock %}
